{% extends 'base_svuce_results.html' %}

{% block title %}
    Sem 6 Results
{% endblock %}


{% block content %}

<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
            SVUCE CSE SEM 6 Results
            </h1>
            <br>
            {{ form.roll_number.label() }}
            {{ form.roll_number(class="form-control", placeholder="Enter Your Roll Number") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
        {% if d %}
         {{ d.html_returned|safe }}
        {% endif %}
    </div>
</body>

{% endblock %}