{% extends 'base_svuce_results.html' %}

{% block title %}
    Sem 5 Results
{% endblock %}


{% block content %}

<body class="text-center">
    <div class="container">
        <form action="{{ url_for('sem5_results') }}" method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
            SVUCE CSE SEM 5 Results
            </h1>
            <br>
            {{ form.roll_number.label() }}
            {{ form.roll_number(class="form-control", placeholder="Enter Your Roll Number") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>

        {% if d %}
         {{ d.html_returned|safe }}
        {% endif %}


        {% if d2 %}
<br><br><br><br><br><br>
    <h1> CSE SEM 5 Results </h1>
        <div class="text-success h3">

        {% for i in d2 %}

        {{ loop.index }} .
        {{ i.Roll_No  }} -->
        {{ i.Total_Marks }} ,
        {{ i.Student_Gpa }}
<br>
        {% endfor %}
</div>
         {% endif %}



    </div>
</body>

{% endblock %}