{% extends 'base.html' %}

{% block title %}
    Ellipse Drawing
{% endblock %}


{% block content %}


<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <h2 class="h3 mb-3 font-weight-normal">
            Please Provide the Input Details for <h1> Ellipse Drawing </h1>

            </h2>
            <br>
            {{ form.point_a.label() }}
            {{ form.point_a(class="form-control", placeholder="Enter Point1 X") }}


            {{ form.point_b.label() }}
            {{ form.point_b(class="form-control", placeholder="Enter Point1 X") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
        {% if d %}
        <h1> {{ d.op_string }}  </h1>
        <img src="{{ d.image }}">
        {% endif %}
    </div>
</body>

{% endblock %}