{% extends 'base.html' %}

{% block title %}
    Translation Rotation Scaling
{% endblock %}


{% block content %}


<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <h2 class="h3 mb-3 font-weight-normal">
            Please Provide the Input Details for
                <h1> Translation Rotation Scaling Transformations </h1>

            </h2>
            <br>
            {{ form.point_a.label() }}
            {{ form.point_a(class="form-control", placeholder="Example : (1,2),(3,4),(9,4) - Enter Points in (x,y) separated by ',' ") }}


            {{ form.point_b.label() }}
            {{ form.point_b(class="form-control", placeholder="Enter Transformation Parameters separated by ',' ") }}


            {{ form.option.label() }}
            {{ form.option(class="form-control") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
        {% if d %}
        <h1> {{ d.op_string }}  </h1>
        <img src="{{ d.image1 }}">
        <img src="{{ d.image2 }}">

        {% endif %}
    </div>
</body>

{% endblock %}